body {
  background: blanchedalmond;
  text-align: center;
}
* {
  border: 1px solid teal;
}
.container {
  display: flex; /* gives you ability to go from mobile to full page size*/
  min-height: 20vh;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 97vh;
}
header,
footer {
  flex-grow: 2;
}
main {
  flex-grow: 5;
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  ` header {
    width: 100%;
  }
}
main,
footer,
header {
  margin: 1em;
}
